<div class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Latest  Posts</h2>

  <div class="spacer-60"></div>

  <div class="row blog-wrapper">

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">Development</span>
          </a>
          <a href="javascript:" (click)="scrollTo('home')">
            <img src="assets/images/blog/dev1.svg" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="javascript:">Top 5 Frameworks for Web Development</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">29 February, 2024</li>
            <li class="list-inline-item">Dani</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">Development</span>
          </a>
          <a href="javascript:" (click)="scrollTo('home')">
            <img src="assets/images/blog/dev2.svg" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="javascript:">Introduction to Mobile App Development</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">27 February, 2024</li>
            <li class="list-inline-item">Dani</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">Development</span>
          </a>
          <a href="javascript:" (click)="scrollTo('home')">
            <img src="assets/images/blog/dev.svg" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="javascript:">Essential Tools for Frontend Development</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">26 February, 2024 </li>
            <li class="list-inline-item">Dani</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
